.App .Miner .Miner-row {
  /* border: 1px solid red; */
  display: flex;
}

.App .Miner .Miner-row .Miner-item {
  height: 2rem;
  width: 2rem;
  border: 1px solid black;
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: bold;
  position: relative;
}

.App .Miner .Miner-row .Miner-item span {
  font-size: 0.5rem;
  position: absolute;
  bottom: -2px;
  color: darkmagenta;
  /* border: 1px solid red; */
}

.App .Miner .Miner-row .Miner-item.red {
  background-color: pink;
}
.App .Miner .Miner-row .Miner-item.one {
  color: green;
}
.App .Miner .Miner-row .Miner-item.two {
  color: blue;
}
.App .Miner .Miner-row .Miner-item.three {
  color: red;
}
.App .Miner .Miner-row .Miner-item.four {
  color: rgb(211, 109, 126);
}
.App .Miner .Miner-row .Miner-item.five {
  color: brown;
}
.App .Miner .Miner-row .Miner-item.six {
  color: darkblue;
}
.App .Miner .Miner-row .Miner-item.seven {
  color: darkorchid;
}
.App .Miner .Miner-row .Miner-item.eight {
  color: darkturquoise;
}
.App .Miner .Miner-row .Miner-item.closed {
  background-color: grey;
}
