.Overlay {
  position: fixed;
  top: 0;
  left: 0;
  height: 100vh;
  width: 100vw;
  z-index: 100;
  background-color: rgba(0, 0, 0, 0.7);
  display: flex;
  text-align: center;
}

.Overlay.won {
  background-color: rgba(0, 0, 0, 0.1);
}

.Overlay-contentWrapper {
  display: flex;
  flex-direction: column;
  margin: auto;
}

.Overlay-label {
  font-size: 10rem;
}

@media screen and (max-width: 600px) {
  .Overlay-label {
    font-size: 5rem;
  }
}
