.App {
  /* border: 1px solid red; */
}
.App .Miner {
  /* border: 1px solid red; */
}
.App .Miner .Miner-row {
  /* border: 1px solid red; */
  display: flex;
}

.App .Miner .Miner-row .Miner-item {
  height: 2rem;
  width: 2rem;
  border: 1px solid black;
  display: flex;
  justify-content: center;
  align-items: center;
}

.App .Miner .Miner-row .Miner-item.red {
  background-color: pink;
  font-weight: bold;
}
